* {
	margin: 0;
	padding: 0;
}

body {
	background: #282828;
	width: 100%;
}

table {
	background: #fff;
	border-collapse: collapse;
	margin: 40px auto;	
}

td {
	border: 10px solid #000;
	height: 57px;
	width: 77px;
}

.t_1_1 {
	border-left: none;
	border-top: none;
}

.t_1_2 {
	border-top: none;	
}

.t_1_3 {
	background-color: #fde954;
	border-right: none;
	border-top: none;	
}	

.t_2 {
	height: 120px;
}

.t_2_1,
.t_3_1 {
	border-left: none;
}

.t_2_2 {
	background-color: #ff5c3f;
}

.t_2_3 {
	background-color: #fde954;
	border-right: none;
}

.t_3 {
	height: 120px;
}

.t_3_3,
.t_4_6 {
	border-right: none;
}

.t_4 {
	height: 57px;
}

.t_4_1 {
	background-color: #292929;
}

.t_5_1 {
	background-color: #fde954;
	border-left: none;
	border-bottom: none;
}

.t_5_3 {
	background-color: #064581;
	border-right: none;
}

.t_6_1 {
	border-bottom: none;
	width: 144px;
}

.t_6_2 {
	background-color: #292929;
	width: 114px;
}

.t_7_1 {
	border-bottom: none;
	border-right: none;
}

