*{
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

#wrapper {
	background-color: #fff;
	box-shadow:0px 0px 4px 0px rgba(0,0,0,0.4); 
	font-family: Arial, Helvetica, "Times New Roman", sans-serif, serif;
	padding: 45px;
	margin: 0 auto;
	width: 1060px;
}

.clear {
	clear: both;
}

/*HEADER*/

header {
	margin: 0 0 50px 40px;
}

#logo {
	width: 967px;
}

header h1 {
	color: #000;
	font-size: 250%;
	margin: 0 0 45px 0;
}

nav {
	background: linear-gradient(180deg, #5e5e5e 0%, #515151 50%, #444343 100%);
	height: 40px;
	width: 983px;
}

nav ul {
	list-style: none;
	margin-left: 25px;
}

nav li {
	float: left;
}

#topmenu a {
	color: #fff;
	display: block;
	padding: 10px 35px;
	text-decoration: none;
}

#topmenu a:hover {
	background-color: #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 10px 34px;
}

/*MENU*/

.menu {
	float: left;
	margin-left:40px;
	width: 240px;
}

.menu ul {
	border: 1px solid #c8c8c8;
	list-style: none;
}

.menu li {
	font-size: 100%;
    border-bottom: 1px solid #c8c8c8;
}

.menu li a {
   display: block; 
   padding: 11px 15px;
   background: #fff;
   color: #656363;
   text-decoration: none;
   position: relative;
}

.menu  li:last-child {
	border-bottom: none;
}

 .menu li a:hover {
   background: #f9f9f9;
   color: #000;
   padding-left: 35px;
}

/*CONTENT*/

.content {
	float: right;
	margin-right: 35px;
	width: 679px;
}

.content p {
	font-size: 85%;
	padding: 30px 20px 50px;
}

/*FOOTER*/

footer {
	background-color: #e1e1e1;
	height: 40px;
	margin: 0 0 15px 40px;
	width: 983px;
}

footer ul {
	list-style: none;
}

footer li {
	float: left;
}

footer a {
	color: #000;
	float: left;
	padding: 10px 55px 10px 25px;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	float: right;
	padding: 10px 25px 0 0;
}