.footer {
	padding-top: 55px;
	background: #2a2d32;
	.wrap {
		@extend .wrapper;
	}
}

.site-map {
	width: 260px;
	margin: 0 0 78px 40px;
	float: left;
	&:first-child {
		margin-left: 0;
	}
	&__title {
		font: 16px Ubuntu, Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 45px;
	}
	&__wrap-link {
		padding: 10px 0;
		border-top: 1px solid #393c40;
		&--border {
			border-top: none;
		}
	}
	&__link {
		font: 13px Arial, sans-serif;
		color: #fff;
		opacity: 0.3;
		&:hover {
			color: #248cec;
			opacity: 1;
		}
	}
}

.footer-bottom {
	padding: 20px 0;
	background: #35383c;
	span {
		font-size: 16px;
		margin-right: 8px;
	}
	.wrap {
		@extend .wrapper;
	}
	&__address {
		font: 12px Arial, sans-serif;
		color: #fff;
		opacity: 0.2;
		margin-right: 47px;
		float: left;
	}
	&__phone {
		@extend .footer-bottom__address;
	}
	&__email {
		@extend .footer-bottom__address;

	}
	&__copyright {
		@extend .footer-bottom__address;
		margin-right: 0;
		float: right;
	}
}